-
link(rel="stylesheet" href="static/asset/css/datatables.css")
div
    .card
        .card-header
            p.card-header-title
                span.icon
                    i.mdi.mdi-star
                | Startup Flags
    div.field.is-grouped
        div.control.is-expanded
        div.control
            button.button.is-link(id="flags-submit") Apply

script(src="static/asset/js/flags.js") 