div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Update WebUI Assets (pull from game files)
    .card-info.collapsible-card
      ul
        li(style="font-size:14px") To use this feature, configure 'Exceed Gear Data Directory' in the plugin settings.
        li(style="font-size:14px") This will extract certain textures/images from .ifs files, however, currently it will only support IFS files used in the latest game version supported by this plugin.
        li(style="font-size:14px") This feature pulls BGM files from the data, however they are in the WMA file format, which playback is unsupported so they have to be converted to MP3 format. To convert these files to MP3, you can use ffmpeg. If you have ffmpeg already installed, there are bgm_convert scripts in the SDVX plugin directory that can automate the conversion to mp3 (.bat for Windows, .sh for Linux)
        ul
          li(style="font-size:14px") Windows: <a href="https://www.gyan.dev/ffmpeg/builds/">download</a> and extract ffmpeg.exe and put it in the same directory as the bat script (or put ffmpeg.exe in PATH environment variable)
          li(style="font-size:14px") Linux: follow <a href="https://json2video.com/how-to/ffmpeg-course/install-ffmpeg-linux.html">this guide</a> on how to install ffmpeg on your specific Linux distro.
    .card-content
      .field
        button.button.is-primary(type="update" id="updateResources") 
          span.icon
            i.mdi.mdi-check
          span Update
      .field
        textarea.log-field(rows="50" id="logtextarea" name="logtextarea" disabled)

script(src="https://requirejs.org/docs/release/2.3.5/minified/require.js")
script(type="text/javascript" src="static/asset/js/updateResources.js")
style(type='text/css').
  .collapse {
    background-color: #4a4a4a;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }

  .collapse:hover {
    background-color: #777;
  }

  .collapsible-card {
    padding:15px;
  }

  .log-field {
    width: 100%;
    height: 100%;
    background: #4a4a4a;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px;
    font-size: 15px;
  }